remote_pdb >= 2.0.0,  < 3
pdbpp      >= 0.10.2, < 0.11
devtools   >= 0.4.0,  < 0.5

mypy                  >= 0.790,  < 0.800
flake8                >= 3.8.4,  < 4
flake8-isort          >= 4.0.0,  < 5
flake8-bugbear        >= 20.1.4, < 21
flake8-commas         >= 2.0.0,  < 3
flake8-comprehensions >= 3.3.0,  < 4
flake8-executable     >= 2.0.4,  < 3
flake8-logging-format >= 0.6.0,  < 0.7
flake8-pie            >= 0.6.1,  < 0.7
flake8-quotes         >= 3.2.0,  < 4
flake8-colors         >= 0.1.6,  < 0.2
