hsluv          == 0.0.2
Pillow         >= 5.4.1, < 6
pymediainfo    >= 4.1,   < 5
cairosvg       >= 2.4.2, < 3
aiofiles       >= 0.4.0, < 0.5
appdirs        >= 1.4.3, < 2
filetype       >= 1.0.5, < 2
html_sanitizer >= 1.7.3, < 2
lxml           >= 4.4.1, < 5
mistune        >= 0.8.4, < 0.9
dataclasses    >= 0.6,   < 0.7; python_version < "3.7"
pyfastcopy     >= 1.0.3, < 2;   python_version < "3.8"

git+http://github.com/mirukan/matrix-nio#egg=matrix-nio[e2e]
